// 1. Variables
// Make a variable for the width & height

// Make a colour palette

// Set a padding value that can apply to all elements (boxes, paragraphs, articles)


// 2. Import Stylesheets


// Base Style Rules
html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  color: #F44336;
}

h2 {
  color: #71EA71;
}

p {
  color: #4D4DF3;
}

// Box Style Rules
.red-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: #F44336;
  color: #ffffff;

}

.blue-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: #4D4DF3;
  color: #ffffff;

}

.green-box {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: #71EA71;
  color: #ffffff;
}
